
:root {
    --TitleSize: 2rem;
    --HeaderHeight: 20vh;
    --BodyWidth: 86%;
    --Tips-Color: #fff;


    --Font-Color: #fff;
}

* {
    margin: 0;
    color: var(--Font-Color);
    font-weight: lighter;
}


body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0 10%;
    overflow: hidden;
    box-sizing: border-box;
}


#Content {
    z-index: 100;
}

.empty {
    width: 100%;
    height: .1%;
}


#main {
    position: absolute;
    width: 80%;
    margin: 40vh 0;
    font-size: 4vw;
    font-weight: normal;
    font-family: "Roboto", "Noto Sans SC", sans-serif;
}

#MainTitle {
    /* transition: .2s; */
    font-size: 1em;
    line-height: 100%;
    font-weight: bold;
    letter-spacing: 0.4ch;
    margin-bottom: 0.5ch;
}

#MainTitle > span {
    letter-spacing: 0.04ch;
}

#MainTitle div {
    display: inline-block;
}


#SubTitle {
    font-size: 0.54em;
    font-weight: lighter;
}


footer {
    position: absolute;
    bottom: 0;
    height: 8%;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1ch;
}

#Copyright {
    transition: 0.3s;
    padding: 0;

    --Font-Color-Copyright: #999;
}

ul * {
    font-weight: normal;
}

#Copyright:hover {

    --Font-Color-Copyright: #bbb;
}

#Copyright * {
    color: var(--Font-Color-Copyright);
    transition: 0.3s;
    text-decoration: none;
}

#Copyright li {
    --Font-Size: .6rem;
    font-size: var(--Font-Size);
    height: var(--Font-Size);
    line-height: var(--Font-Size);
    display: inline-block;
    border-left: solid 1px var(--Font-Color-Copyright);
    padding: 0 20px;
}

#Copyright li:first-child {
    border: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

@media screen and (max-width: 375px) {
    footer {
        line-height: 1em;
        word-break: break-all;
        text-overflow: ellipsis;
    }

}