:root {
    --bg-ani-dis: 150px;
    --bg-ani-time: 20s;
}

@keyframes Move {
    0% {
        left: calc(-1 * var(--bg-ani-dis));
    }
    60% {
        left: 0;
    }
    100% {
        left: calc(-1 * var(--bg-ani-dis));
    }
}

@keyframes Opacity {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

@keyframes MoveB {
    0% {
        left: calc(-1 / 6 * var(--bg-ani-dis));
    }
    10% {
        left: 0;
    }
    50% {
        left: calc(-1 * var(--bg-ani-dis));
    }
    100% {
        left: calc(-1 / 6 * var(--bg-ani-dis));
    }
}

@keyframes Appearence-B {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
